@use "../../assets/scss/variables" as v;
@use "../../assets/scss/mixins" as m;

.loading-page{
    background-color: v.$color4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  

    .spinner-border{
        width: 18rem;
        height: 18rem;
        
    
       
    }

}